@font-face {
	font-family:"FrutigerBold";
	src: url("frutiger_ssv/frutigerlightbold.otf") format("opentype");
}
@font-face {
	font-family:"Frutiger";
	src: url("frutiger_ssv/frutigerregular.otf") format("opentype");
}
/* Site rules */
body {
	color:FloralWhite;
	background-color:black;
}
p.info {
	color:gray;
}

/* Universal site header */
#header {
	background-color:black;
	color:snow;
	margin-top:-15px;
	margin-right:-10px;
	margin-left:-10px;
	margin-bottom:10px;
	padding:10px;
	position:fixed;
	width:100%;
	z-index:1;
	height:80px;
}
#nav {
	position:fixed;
	right:0px;
	top:20px;
	font-family:Frutiger;
}
td>a:link {
	color:FloralWhite;
	text-decoration:none;
}
td>a:visited{
	color:FloralWhite;
	text-decoration:none;
}
td>a:hover {
	color:LightYellow;
}
td {
	padding-right:50px;
}
@media screen and (max-width:415px) {
	td {
		padding-right:20px;
	}
}
#title{
	align-content:right;
	margin-right:20px;
	font-family:FrutigerBold;
}
#footer {
	text-align:center;
}

#navbar>li {
	display:inline;
	margin-right:5px;
	margin-left:5px
}

/* HOMEPAGE */
#siteprofile {
	width:110%;
	margin-right:-5%;
	margin-left:-5%;
}
@media screen and (max-width:415px) {
	#siteprofile {
		width:300%;
		overflow:hidden;
		margin-left:-90%;
		margin-top:-5%;
	}
}
.top-right-text {
  position: absolute;
  top: 90px;
  right: 18px;
  color:black;
}
.center-text {
  position: absolute;
  top: 90px;
  left:45%;
  color:black;
}

/* RESUME - framing done on an image-by-image basis */
#resframes {
	margin-left:-10px;
	margin-right:-10px;
}

h3 {
	font-size:200%;
}

@media screen and (max-width:1050px) {
	h3 {
		font-size:150%;
	}
}

@media screen and (max-width:850px) {
	h3 {
		font-size:120%;
	}
}

@media screen and (max-width:600px) {
	h3 {
		font-size:100%;
	}
	.text2 {
		left:20%;
	}
}

#resframes>div>div>img:hover {
	opacity:0.7;
	cursor:pointer;
}

#resframes>#frame1 {
	width:20%;
	height:881px;
	margin-top:0%;
	overflow:hidden;
}
#resframes>#frame1>div>#pic1 {
	width:220%;
	margin-left:-50%;
	margin-top:70px;
}
.text1 {
  position: absolute;
  top: 100px;
  left:7%;
  text-align:center;
  color:black;
}
@media screen and (max-width:600px) {
	#resframes>#frame1>div>#pic1 {
		height:800px;
		width:600px;
		margin-left:-150%;
	}
}
@media screen and (max-width:415px) {
	#resframes>#frame1>div>#pic1 {
		height:800px;
		width:600px;
		margin-left:-290%;
	}
	.text1 {
		left:4%;
	}
}

#resframes>#frame2 {
	width:20%;
	height:881px;
	overflow:hidden;
	margin-left:20%;
	margin-top:-881px;
}
#resframes>#frame2>div>#pic2 {
	width:220%;
	margin-left:-90%;
	margin-top:70px;
}
.text2 {
  position: absolute;
  top: 150px;
  left:26%;
  text-align:center;
  color:black;
}
@media screen and (max-width:600px) {
	.text2 {
		left:23%;
		top:125px;
	}
	#resframes>#frame2>div>#pic2 {
		height:800px;
		width:600px;
		margin-left:-350%;
	}
}
@media screen and (max-width:415px) {
	#resframes>#frame2>div>#pic2 {
		height:800px;
		width:600px;
		margin-left:-540%;
	}
	.text2 {
		left:22%;
		font-size:90%;
	}
}

#resframes>#frame3 {
	width:20%;
	height:881px;
	overflow:hidden;
	margin-left:40%;
	margin-top:-881px;
}
#resframes>#frame3>div>#pic3 {
	width:220%;
	margin-left:-30%;
	margin-top:70px;
}
.text3 {
  position: absolute;
  top: 200px;
  left:46%;
  text-align:center;
  color:black;
}
@media screen and (max-width:600px) {
	.text3 {
		top:150px;
	}
	#resframes>#frame3>div>#pic3 {
		height:800px;
		width:600px;
		margin-left:-150%;
	}
}
@media screen and (max-width:415px) {
	#resframes>#frame3>div>#pic3 {
		height:800px;
		width:600px;
		margin-left:-278%;
	}
	.text3 {
		left:45%;
	}
}

#resframes>#frame4 {
	width:20%;
	height:881px;
	overflow:hidden;
	margin-left:60%;
	margin-top:-881px;
}
#resframes>#frame4>div>#pic4 {
	width:220%;
	margin-left:-3%;
	margin-top:70px;
}
.text4 {
  position: absolute;
  top: 250px;
  left:66%;
  text-align:center;
  color:black;
}
@media screen and (max-width:600px) {
	.text4 {
		left:63%;
		top:175px;
	}
	#resframes>#frame4>div>#pic4 {
		height:800px;
		width:600px;
		margin-left:-40%;
	}
}
@media screen and (max-width:415px) {
	#resframes>#frame4>div>#pic4 {
		height:800px;
		width:600px;
		margin-left:-70%;
	}
	.text4 {
		left:61%;
		font-size:90%;
	}
}

#resframes>#frame5 {
	width:20%;
	height:881px;
	overflow:hidden;
	margin-left:80%;
	margin-top:-881px;
}
#resframes>#frame5>div>#pic5 {
	width:220%;
	margin-left:-30%;
	margin-top:70px;
}
.text5 {
  position: absolute;
  top: 300px;
  left:86%;
  text-align:center;
  color:black;
}
@media screen and (max-width:600px) {
	.text5 {
		top:200px;
	}
	#resframes>#frame5>div>#pic5 {
		height:800px;
		width:600px;
		margin-left:-150%;
	}
}
@media screen and (max-width:415px) {
	#resframes>#frame5>div>#pic5 {
		height:800px;
		width:600px;
		margin-left:-275%;
	}
	.text5 {
		left:83%;
	}
}


/* BLOG */
#blogprofile {
	width:110%;
	margin-right:-5%;
	margin-left:-5%;
}
.blogframe {
	width:110%;
	margin-right:-5%;
	margin-left:-5%;
	height:170px;
	overflow:hidden;
	position:relative;
}
.bigblogframe {
	width:110%;
	margin-right:-5%;
	margin-left:-5%;
	height:300px;
	overflow:hidden;
	position:relative;
}
.blogframe>img {
	margin-top:-10%;
}
.top-right-text-box {
	position:absolute;
	top:20px;
	left:80px;
	color:white;
	font-family:Frutiger;
	font-size:150%;
}
.blogframe>a>img:hover {
	opacity:0.5;
}
.blogtext{
	background-color:rgba(127, 191, 63,0.5);
	font-family:Perpetua, Garamond;
	padding:0px 5px 2px 5px;

}
h4 {
	font-size:150%;
	font-family:FrutigerBold;
	font-variant:small-caps;
}
/*MODALS*/
.modalcontent{
	background-color:rgba(0,0,0,0.8);
	margin: 15% auto;
	margin-top:-770px;
	padding:10px;
	overflow:scroll;
}
.modal {
	display:none;
	position:fixed;
	z-index:2000;
	background-color:black;
	background-color:rgba(0,0,0,.4);
	width:90%;
	margin-left:5%;
	font-family:Frutiger;
}
.close {
	color:white;
	float:right;
	font-size:32px;
	font-weight:bold;
}
.close:hover {
	color:gray;
	cursor:pointer;
}
#picmodal4>.modalcontent>h2 {
		margin-bottom:50px;
	}
.job {
	margin-top:-40px;
	width:50%;
}
.job>h2 {
	font-size:130%;
	margin-left:3%;
	font-family:FrutigerBold;
}
.job>h3 {
	font-size:90%;
	margin-top:-38px;
	margin-left:210px;
}
.job>p {
	margin-left:3%;
}
.right{
	margin-left:50%;
}
@media screen and (max-width:1000px) {
	.job {
		width:100%;
		margin-top:auto;
	}
	.right{
		margin-left:auto;
	}
	.job>p {
		font-size:80%;
	}
}
@media screen and (max-width:600px) {
	.job>h3{
		font-size:70%;
	}
	#picmodal4>.modalcontent>h2 {
		margin-bottom:0px;
	}
}
@media screen and (max-width:415px){
	.right {
		margin-left:0%;
		margin-top:auto;
	}
	.job>h3 {
		font-size:50%;
	}
	.job>h2 {
		font-size:100%;
	}
	#picmodal4>.modalcontent>h2 {
		margin-bottom:-10px;
	}
}